#screen-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #000, #333, #000);
}

#screen-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 2;
}

#screen-base {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#screen-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#screen-transparent-overlay {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#screen-float-ref {
  position: absolute;
  opacity: 0.8;
}

