#game-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #000, #333, #000);
}

#game-header {
  position: relative;
  height: 50px;
  /* max-width: 800px; */
  margin: auto;
  z-index: 1;
}

#game-main {
  position: absolute;
  /* max-width: 800px; */
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}


