
#statusbar {
  position: absolute;
  user-select: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: darkslategray;
  color: white;
  border-bottom: 1px solid #555;
}

#statusbar.offense {
  background: linear-gradient(to top, #5b2f2f, #964c4c);
}
#statusbar.defense {
  background: linear-gradient(to top, #30325e, #4c5496);
}

#statusbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0.9em;
}

#turn-end-button {
  display: block;
  height: 70px;
  width: 70px;
  outline: none;
  margin-left: 15px;
  border-radius: 50%;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, mediumaquamarine, darkgreen);

  border: solid 3px #555;
  box-shadow:
  inset 1px 2px 0 rgba(255,255,255,0.6),
  inset -0.5px -0.5px rgba(255,255,255,0.3),
  1px 1px 1px rgba(255, 255, 255, 0.1);

  color: #eee;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1em;
  line-height: 1.2em;
  cursor: pointer;
}
#turn-end-button[disabled] {
  background: linear-gradient(to bottom right, #888, #555);
  font-size: 0.9em;
  color: #222;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  cursor: default;
}

#sb-remained-turn {
  margin-left: 20px;
}

#sb-terrain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-width: 80px;
  margin-right: 0;
  margin-left: auto;
  box-sizing: border-box;
  padding: 0 15px;
  background: linear-gradient(to bottom, #333, #111);
  border-left: solid 1px #111;
  color: #eee;
}
#sb-terrain .name {
  font-size: 1.1em;
  line-height: 140%;
  font-weight: bold;
}
#sb-terrain .influence {
  line-height: 130%;
  font-size: 0.75em;
}
#sb-terrain .influence .avoid {
  color: #999;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  margin-right: 5px;
}

