html
  head
    link(rel="stylesheet", href="/bundle.css")
    script(src="/app.js")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
  body
    #contents
