body {
  background-color: #222;
}

#contents {
  display: flex;
  flex-direction: column;

  width: 600px;
  margin: auto;
  padding: 40px 0;
}


.portal-button {
  display: block;
  height: 44px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  background: #555;
  border: none;
  font-size: 1.1em;
  color: #ddd;
  border-radius: 8px;
  cursor: pointer;
}
