body {
  background: linear-gradient(to right, #000, #333, #000);
}

#portal-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 600px;
  margin: auto;
  padding: 40px 10px;
  box-sizing: border-box;
  color: #bbb;
}

#portal-navigator {
  display: flex;
  align-items: center;
}

#portal-navigator form {
  margin: 0;
}

.portal-button {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2em;
  padding: 0.2em 0.6em;
  background: linear-gradient(to top, #666, #777);
  border: 0.3em solid;
  border-top-color: #888;
  border-left-color: #777;
  border-bottom-color: #444;
  border-right-color: #555;
  border-radius: 2px;
  outline: none;

  color: #333;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  margin: 0 5px;
}

#deck {
  max-width: 600px;
}
