
#deck-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.deck-unit {
  background-color: #f8f8f8;
  margin: 4px;
  border: solid 1px #444;
}

.deck-unit .name {
  background-color: #444;
  color: white;
  text-align: center;
}

.deck-unit .main {
  display: flex;
  padding: 8px;
}
.deck-unit .image {
  margin-right: 5px;
}


.deck-unit .status-table {
  border-collapse: collapse;
  font-size: 14px;
}
.deck-unit .status-table tr {
  line-height: 1em;
}
.deck-unit .status-table th {
  font-size: 0.8em;
  font-weight: normal;
  color: #666;
}
.deck-unit .status-table td {
  width: 20px;
}
