
#result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 10%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
}

#result-head {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

#result-head.win {
  color: white;
}
#result-head.lose {
  color: #888;
}

#result-return {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: #444;

  cursor: pointer;
  color: #ccc;
}
#result-return:active {
  background: #666;
}

