#lobby-base {
  height: 100%;
}

#lobby-container {
  width: 300px;
  min-height: 400px;
  margin: auto;
  padding: 40px 30px;
  box-sizing: border-box;
}

#lobby-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

#lobby-list li {
  display: flex;
  margin-bottom: 2px;
}

.lobby-btn {
  flex: 1;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  border: 1px solid #555;
  border-radius: 0;
  background-color: white;
  outline: none;
  color: #555;
  cursor: pointer;
}
.lobby-btn[disabled] {
  cursor: default;
  color: #ccc;
  border-color: #ccc;
}

.lobby-input {
  height: 44px;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  border: none;
  background: #eee;
  outline: 0;
  font-size: 1em;
  text-align: center;
  color: #222;
}
.lobby-input::-webkit-input-placeholder {
  color: #aaa;
}

#lobby-create {
  margin-top: 10px;
}

#lobby-join {
  margin-top: 10px;
}

#lobby-join .lobby-input {
  width: 150px;
}

#lobby-room {
  display: flex;
  flex-direction: column;
}

#lobby-room span {
  color: gray;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 5px;
}

#lobby-room .lobby-input {
  font-size: 1.5em;
}

#lobby-wait {
  flex: 1;
  text-align: center;
  font-size: 0.8em;
  color: #666;
  margin-top: 30px;
}

#lobby-room-leave {
  margin-top: 10px;
}
